<!DOCTYPE html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style./css') }}" />
    <meta charset="UTF-8">
    <title>Flaskr</title>


    <div class="page">
        <h1>Flaskr</h1>
        <div class="metanav">
            {% if not session.logged_in %}
                <a href="{{ url_for('login') }}">login</a>
            {% else %}
                <a href="{{ url_for('logout') }}">log out</a>
            {% endif %}
        </div>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfo %}
    {% block body %}{% endblock %}
    </div>
